/* nav page file*/
body{
    background: #f1f1f1 ;
}
.navbar-brand{
    padding: 20px;
    margin-right: 10px;
    margin-left: -15px;
    margin-top:5px;
    background: turquoise;
    color:white;
    margin-bottom: -8px;
    font-family: initial ;
}

.row{
    margin-top: 20px;
}
.row1{
    margin-top:30px;
    padding-left: 50px;
    padding-right:50px;
}
.Desc{
    padding: 15px;
    color: turquoise;
    font-family: initial;
    /* text-align: center; */
}
/* comparison file */
.comparison{
    font-family: initial;
    color: turquoise;
    padding-bottom: 20px;
}
.compare{
    background: white;
    padding:20px;
}
.comp-par{
    font-family: initial;
}
.comp{
    width:500px;
    position:relative;
}
.comp-img1{
    left:20px;
}
.comp-img2{
    left:20px;
    margin-right: 15px;
    margin-left: -15px;
}
.comp-img3{
    left: 20px;
    margin-bottom:30px;
}

.comp-img4{
    left:20px;
    margin-bottom:30px;
    margin-left: -15px;
}


.summary{
    padding: 20px;
    background: white;
    font-family: initial;
}
.sum-header{
    color: turquoise;
}
.summary1{
    color:black;
}
.img-summary-lat{
     padding: 10px;
    width: 300px;
    height: 275px;
    float: left;
}
h3{
    padding-top: 10px;
    text-align: left;
    padding-left: 20px;
    font-family: initial;
    color: turquoise;
}

/* visualization section */
.visualizations{
    background: white;
}
.vis{
    width: 200px;
    position:relative;
    /* margin-bottom: 20px; */
}
.vis1{
    left:20px;
}
.vis2{
    left:20px;
    margin-right: 15px;
    margin-left: -15px;
}
.vis3{
    left: 20px;
    margin-bottom:30px;
}
.vis4{
    left:20px;
    margin-bottom:30px;
    margin-left: -15px;
}
/* wind speed file */
.wind-header{
    font-family: initial;
    color: turquoise;
}
.wind{
    font-family: initial;
}
.wind-speed-page{
    padding: 20px;
    background: white;
}
.wind-speed-pic{
    width: 600px;
}
.row2{
    margin-top:20px;
    padding-left: 50px;
}

/* max temp file */
.max-temperature-page{
    padding:20px;
    background: white;
}
.max-temp-pic{
    width: 600px;
}
.max-temp-header{
    font-family: initial;
    color: turquoise;
}
.temp{
    font-family: initial;
}