/* nav page file*/
body{
    background: #f1f1f1 ;
}

.navbar-brand{
    padding: 10px;
    margin-right: 10px;
    margin-left: -15px;
    margin-top:5px;
    background: turquoise;
    color:white;
    margin-bottom: -8px;
    font-family: initial ;
    font-weight: bold;
}

.row{
    margin-top: 20px;
}
.row1{
    margin-top:30px;
    padding-left: 50px;
    padding-right:50px;
}
.col{
    padding: 15px;
    color: turquoise;
    font-family: initial;
    text-align: center;
    
}
/* comparison file */
.comparison{
    font-family: initial;
    color: turquoise;
    padding-bottom: 20px;
}
.compare{
    background: white;
    padding:20px;
}
.comp-par{
    font-family: initial;
    font-size: 12px;
    font-weight: bold;
}
/* after */
.float-left{
    width:400px;
    position:relative;
}
.float-right{
    width:400px;
    position:relative;
}

.grid-box1 {
    float: left;
    width: 25%;
  }
.gridbox2{
    float: left;
    width: 25%;
}

.summary{
    padding: 20px;
    background: white;
    font-family: initial;
}
.sum-header{
    color: turquoise;
}
.summary1{
    color:black;
}
.img-summary-lat{
     padding: 10px;
    width: 300px;
    height: 275px;
    float: left;
}
h3{
    padding-top: 10px;
    text-align: left;
    padding-left: 20px;
    font-family: initial;
    color: turquoise;
}

/* visualization section */
.visualizations{
    background: white;
}
.vis{
    width: 200px;
    position:relative;
    /* margin-bottom: 20px; */
}
.vis1{
    left:20px;
}
.vis2{
    left:20px;
    margin-right: 15px;
    margin-left: -15px;
}
.vis3{
    left: 20px;
    margin-bottom:30px;
}
.vis4{
    left:20px;
    margin-bottom:30px;
    margin-left: -15px;
}
/* wind speed file */
.wind-header{
    font-family: initial;
    color: turquoise;
}
.wind{
    font-family: initial;
}
.wind-speed-page{
    padding: 20px;
    background: white;
}
.wind-speed-pic{
    width: 600px;
}
.row2{
    margin-top:20px;
    padding-left: 50px;
}

/* max temp file */
.max-temperature-page{
    padding:20px;
    background: white;
}
.max-temp-pic{
    width: 600px;
}
.max-temp-header{
    font-family: initial;
    color: turquoise;
}
.temp{
    font-family: initial;
}
/* cloudiness file */
.cloud-header{
    font-family: initial;
    color: turquoise;
}
.cloud{
    font-family: initial;
}
.cloudiness-page{
    padding:20px;
    background: white;
}
.cloud-pic{
    width: 600px;
}
/* humidity file */
.humidity-page{
    padding: 20px;
    background: white;
}
.row3{
    margin-top:20px;
    padding-left: 50px; 
}
.humid-pic{
    width: 600px;
}
.humidity-header{
    color: turquoise;
    font-family: initial;
}
.humid{
    font-family: initial;
}
/* Data file */
em{
    font-family: initial;
    color: turquoise;
    text-align: center;
    font-style: unset;
}
.data-container{
    margin-left: 90px;
    margin-right: 90px;
}
.title1{
    color: turquoise;
    font-family: initial;
    caption-side: top;
    font-size: 30px;
}
.title2{
    caption-side: top;
    font-size: 12px;
    font-weight: normal;
}
.datatable{
    padding:25px;
    padding-left:45px;
    padding-right: 45px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-top: 40px;
    /* table-layout: auto; */

}
.data-header{
    color: turquoise;
}
/* .table{ */
    /* width:600px; */
    

/* media queries */
/* @media(max-width: 480px){
    .navbar nav {
        visibility: hidden;
      }
} */